<div class="jumbotron">
    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
    The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of 
    Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
</div>
<div class="container">
    <div class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <div>
        <a href="/questions/12" class="btn btn-success btn-xs"> View Answers</a>
        </div>
    </div>

    </div>
    <div class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <div>
            <a href="/questions/12" class="btn btn-success btn-xs"> View Answers</a>
        </div>
    </div>
    </div>
    <div class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <div>
            <a href="/questions/12" class="btn btn-success btn-xs"> View Answers</a>
        </div>
    </div>
    </div>
</div>
